        body { 
            font-family: monospace; 
            margin: 20px; 
            display: flex;
            align-items: center;
        justify-content: center; 
        }

        button, input, #mirrorOutput { 
            margin: 5px; 
        }
        