
        .C-D-Buk {
        display: flex;
        align-items: center;
        justify-content: center;
    }    
    .D-D-Buk {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .D-Buk button,
        .D-Buk input,
        .D-Buk #mirrorOutput {
            margin: 5px;
        }

