.D-BukC {
    display: flex;
    align-items: center;
    justify-content: center;
};

.D-BukD {
    display: flex;
    align-items: center;
    justify-content: center;
};

.D-BukC button {
    margin: 5px;
};

.D-BukD
#mirrorOutput {
    margin: 5px;
};