
        .D-BukC {
    display: flex;
    align-items: center;
    justify-content: center;
    }    
    .D-BukD {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .D-Buk button,
        .D-Buk input,
        .D-Buk #mirrorOutput {
            margin: 5px;
        }
